# directory to backup
# specify an absolute path
BACKUP_SOURCE=./from

# directory to store the backup
# specify an absolute path
# if it does not exists it will be created
BACKUP_DESTINATION=./to

# when the backup should run
# specify time as HOUR:MINUTES
# ----------------------------------------------------------------------
# if you want more backups per day insert a list of number for the hour
# example: BACKUP_TIME_HOUR=0,12,18 runs at 00:00, 12:00, 18:00
# BACKUP_TIME_HOUR=* runs every hour
# ----------------------------------------------------------------------
# specify days of the week as list of number. 0 = sunday
# example: BACKUP_TIME_DAY=1,3,5 runs on monday, wednesday and friday,
# BACKUP_TIME_DAY=* runs every day
BACKUP_TIME_HOUR=11
BACKUP_TIME_MINUTES=0
BACKUP_TIME_DAY=0

# file to check before starting the backup
INTEGRITY_FILE=integrity-check.txt

# content that needs to be inside the checksum file
INTEGRITY_VALUE=fuckdeadbolt123

# cron.d path, to set only if necessary
# specify an absolute path
# CRON_D_PATH=